/* styles.css */



/* Global Styles */

body {

    font-family: Arial, sans-serif;

}



header {

    background-color: #343a40;

}



footer {

    background-color: #343a40;

}



/* Header */

header h1 {

    margin: 0;

}



nav ul {

    padding-left: 0;

    list-style: none;

}



nav .nav-link {

    color: #ffffff;

}



nav .nav-link:hover {

    text-decoration: underline;

}



/* Sections */

section {

    padding: 20px 0;

}



/* Buttons */

.btn-primary {

    background-color: #007bff;

    border-color: #007bff;

}



.btn-primary:hover {

    background-color: #0056b3;

    border-color: #004085;

}

